services:
  mybizpro-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mybizpro_financeiro
    ports:
      - "8080:80"
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
